REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
SMTP_EMAIL=                                               
SMTP_PASSWORD=
RECIPIENT_EMAILS=

#Discord Bot
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=

# InfluxDB
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

