# .env.example
REDDIT_CLIENT_ID=your_reddit_client_id_here
REDDIT_CLIENT_SECRET=your_reddit_client_secret_here
REDDIT_USER_AGENT=your_user_agent_here
OPENAI_API_KEY=your_openai_api_key_here
SMTP_EMAIL=your_email@example.com
SMTP_PASSWORD=your_app_specific_password_here
RECIPIENT_EMAILS=recipient1@example.com,recipient2@example.com


#Discord Bot
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=

# InfluxDB
INFLUXDB_URL=http://influxdb:8086  # do not use localhost
INFLUXDB_TOKEN=my-super-secret-influx-token
INFLUXDB_ORG=wsb_analytics
INFLUXDB_BUCKET=wsb_sentiment


